{% extends "AppCoder/base.html" %}
{% load static %}

{% block contenido2 %}
<div class="masthead-heading text-uppercase">Login</div>
{% endblock %}

{% block contenido %}
    
    <div class="p-3 mb-2 bg-light text-dark">
        
        <a href="{% url 'Register' %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">Alta de Usuarios</a>
        
        <hr>
        <br>
        <form action="" method="POST">

            {% csrf_token %}

                {{form.as_p}}

            
            <input class="btn btn-dark btn-sm active" type="submit" value="Login">
            
        </form>
        
    </div>
{% endblock %}